{% extends "base.html" %}


{% load static %} 
{% block title %}Project Management {% endblock %}

{% block content %}

<div class="container">

<h1>Project Management</h1>
<p>Find out about project management principles, themes and processes</p>
<h2>Prince2 structure</h2>
<div><p>There are three core elements to Prince2</p>
<ul>
   <li> Principles</li>
   <li> Themes</li>
    <li>Processes (the project lifecycle)</li></ul>
    Themes and processes can be tailored to fit the project but principles should not be tailored.</p></div>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Principles
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Principles are guiding best practice and cannot be tailored. Principles are universal, self-validating and empowering. There are seven principles</p>
<ul>
               <li> Continued business justification</li>
               <li> Learn from experience </li>
              <li> Defined roles and responsibilities </li> 
              <li>  Manage by stages </li>
               <li> Manage by exception </li>
               <li> Focus on products</li>
               <li> Tailor to suit the project </li>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Themes
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>  There are seven themes</p>
<ul>
             <li>   Business case (why) </li>
             <li>   Organisation (who) </li>
             <li>   Quality (what) </li>
             <li>  Plans (how much and when) </li> 
              <li> Risk (what if) </li> 
              <li>  Change (what is the impact) </li>
              <li>  Progress (where are we going and should we carry on) </li></ul> </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
             Processes
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>  There are seven processes </p>
<ol>
              <li>  Starting a project </li>
              <li>  Directing a project </li>
               <li> Initiating a project </li>
               <li> Controlling a stage </li>
               <li> Managing product delivery </li>
              <li>  Managing a stage boundary </li>
              <li>  Closing a project </li> </ol></div>
          </div>
        </div>
      </div>

      <h2>Programmes and projects</h2>
      <p>A programme delivers strategic changes. A project delivers tactical changes. There are three principle project interests - business, user and supplier.</p>
      <a class="btn btn-secondary btn-lg" href="{% url 'projectactivities' %}" role="button">Project Activities</a>

      </div>
{% endblock %}